ELASTIC_VERSION=8.12.0
ES_JAVA_OPTS=-Xms512m -Xmx512m
ELASTIC_PASSWORD=

KIBANA_SYSTEM_PASSWORD=

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__WEBSERVER__SECRET_KEY=
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=true
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

GITHUB_REPOSITORY=Kd3Us/scrapping_anidata
GITHUB_TOKEN=your_github_personal_access_token_here
